{% extends 'base.html' %}

{% block title %}Invoice Details{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: right">INVOICE</h1>

    <p>{{invoice_details.customer.address}}</p>
    <p style="color: red">Phone: ##</p>
    <p>Email: {{invoice_details.customer.email}}</p>

    <p style="text-align: right; color: red">Order Date: {{invoice_details.date}}</p>
    <p style="text-align: right">Transaction ID: {{invoice_details.id}}</p>

    <br><br>

    <table style="width: 100%; border: 1px solid black">
        <tr style="border: 1px solid black">
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Discount%</th>
            <th style="border: 1px solid black">Total</th>
        </tr>
        <tr>
            <td>{{ invoice_details.item_code }}</td>
            <td>{{ invoice_details.item_description.description }}</td>
            <td>{{ invoice_details.quantity }}</td>
            <td style="color: red">##</td>
            <td>{{ invoice_details.unit_price }}</td>
            <td>{{ invoice_details.discount }}</td>
            <td style="border: 1px solid black">{{ invoice_details.total }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border: 1px solid black">#</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Sub Total</td>
            <td style="border: 1px solid black">0.00</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping</td>
            <td style="border: 1px solid black">0.00</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border: 1px solid black">#</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>TOTAL ORDER</td>
            <td style="border: 1px solid black">{{ invoice_details.total }}</td>
        </tr>
    </table>
    <br>
    <hr>
    <h3>Stripe Payment</h3>
    <br>

    <!-- Stripe form -->
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}

        <p>Total Amount is <b style="color: green">{{ invoice_details.total }}</b></p>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key = "{{ key }}"
            data-image = "https://cutt.ly/1wgJms3"
            data-description = "PAYMENT"
            data-amount = "500"
            data-locale = "auto"></script>
    </form>
    <!-- Stripe form end -->
    <br>
    <br>
</div>
{% endblock %}

